.main { 
    margin: 0 auto;
    box-sizing: border-box;
    
    width: 10in;
    height: 31in;
    background-color: #ffffff;
    box-shadow: 0 3px 8px -3px rgba(36, 30, 30, 0.7);
    margin-top: 68.2px;
    padding: 0px 30px;

    margin-bottom: 68.2px;

}
